.story_panel {
    max-height: 400px;
    width: 650px;
    overflow: auto;
    padding: 3px;
    border: 1px inset;
}

.panel_element {
    padding: 3px;
    margin-bottom: 6px;
    border: 2px outset;

}

.complete {
    background-color: lightgreen;
}

.story_element {
    width: 600px;
}

textarea.story_desc {
    width: 350px;
    height: 150px;
}

.backlog_element {
    width: 200px;
}

.panel_title {
    font-weight: bold;
}

.input_box {
    border: 2px solid darkgrey;
}

.notify {
    background-color: lightYellow;
    border: 2px solid yellow;
    padding: 4px;
}

.notify table {
    width: 100%;
}

.selected {
    background-color: lightblue;
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}
