.panel_element {
    padding: 3px;
    margin-bottom: 6px;

}

.story_panel {
    width: 650px;
    padding: 3px;
}

.story_list {
    max-height: 400px;
    overflow: auto;
}

.story_element {
    width: 600px;
    background-color: lightYellow;
    background-image: url("/images/notepad_bg.png");
}

/* Task styles */
.task .task_complete {
    width: 5px;
}

.task .task_title {
    width: 450px;
    text-align: left;
}

.task .task_actions {
    width: 20px;
    text-align: right;
}

textarea.story_desc {
    width: 350px;
    height: 150px;
}

.backlog_element {
    width: 200px;
    background-color: lightGrey;
}

.panel_title {
    font-weight: bold;
}

.input_box {
    border: 2px solid darkgrey;
}

.notify {
    background-color: lightYellow;
    border: 2px solid yellow;
    padding: 4px;
}

.notify table {
    width: 100%;
}

.selected {
    border: 1px solid Green;
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}

.complete {
    background: lightgreen;
}

