<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[[[page:title()]]]</title>
<script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/flot/jquery.flot.pack.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/sparkline/jquery.sparkline.min.js' type='text/javascript' charset='utf-8'></script>
<!--[if IE]><script src='/js/flot/excanvas.pack.js' type='text/javascript' charset='utf-8'></script><![endif]-->
<script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
<link rel="stylesheet" href="/css/iterate.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>

<h1>[[[page:display_title()]]]</h1>

[[[element_notify:render()]]]
[[[page:login()]]] <a href="/web/iterations">Iterations</a>
<hr />
<table>
    <tr>
        <td valign="top">
            [[[element_iteration_panel:render()]]]
            [[[element_backlog_panel:render()]]]
        </td>
        <td valign="top">
            [[[element_story_panel:render()]]]
        </td>
    </tr>
    <tr>
        <td></td>
        <td>[[[element_report_panel:render()]]]</td>
    </tr>
</table>
<script>
[[[script]]]
</script>
</body>
</html>
